@{
    ViewData["Title"] = "Home Page";
}
<style>
body {background-color: powderblue;}
h1   {color: blue;}
img { background-size: cover;}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://wallpaperaccess.com/full/2302492.jpg"></img>


</div>
